<html>
<head>
    <title>Node Family Fued</title>
    <script src="questions.js"></script>
    <script>
        var isHost = '{{isHost}}' === 'true';
        var qid = -1;
        var ws = new WebSocket('{{uri}}');

        var send = function (payload) {

            ws.send(JSON.stringify(payload));
        };

        ws.onopen = function () { };
        ws.onmessage = function (message) {

            var payload = JSON.parse(message.data);
            if (payload.type === 'intro') {
                send({ type: 'hello', role: 'dashboard' });
            }
            else if (payload.type === 'question') {
                qid = payload.id;
                document.getElementById('question').innerHTML = questions[qid].title;
                for (var i = 0; i < 8; ++i) {
                    document.getElementById('answer-' + i.toString()).innerHTML = (isHost && questions[qid].answers[i]) || '';
                }
            }
            else if (payload.type === 'answer' && !isHost) {
                document.getElementById('answer-' + payload.id).innerHTML = questions[qid].answers[payload.id];
            }
        };

        var question = function (id) {

            send({ type: 'question', id: id });
        };

        var answer = function (id) {

            send({ type: 'answer', id: id });
        };
    </script>
    <link rel="stylesheet" type="text/css" href="theme.css">
</head>
<body>
    {{#if isHost}}
    <button onclick="question(++qid % questions.length);" class="question" id="question">Show Question</button>
    <button onclick="answer('0');" class="answer" id="answer-0"></button>
    <button onclick="answer('1');" class="answer" id="answer-1"></button>
    <button onclick="answer('2');" class="answer" id="answer-2"></button>
    <button onclick="answer('3');" class="answer" id="answer-3"></button>
    <button onclick="answer('4');" class="answer" id="answer-4"></button>
    <button onclick="answer('5');" class="answer" id="answer-5"></button>
    <button onclick="answer('6');" class="answer" id="answer-6"></button>
    <button onclick="answer('7');" class="answer" id="answer-7"></button>
    {{else}}
    <div class="question" id="question"></div>
    <div class="answer" id="answer-0"></div>
    <div class="answer" id="answer-1"></div>
    <div class="answer" id="answer-2"></div>
    <div class="answer" id="answer-3"></div>
    <div class="answer" id="answer-4"></div>
    <div class="answer" id="answer-5"></div>
    <div class="answer" id="answer-6"></div>
    <div class="answer" id="answer-7"></div>
    {{/if}}
    <div class="score" id="right">50</div>
    <div class="score" id="left">50</div>
</body>
</html>
